//colors Primary

$veryDarkBlue: hsl(233, 47%, 7%);
$darkDesaturatedBlue: hsl(244, 38%, 16%);
$softViolet: hsl(277, 64%, 61%);

//colors Neutral
$white: hsl(0, 0%, 100%);
$slightlyWhiteParagraph: hsla(0, 0%, 100%, 0.75);
$slightlyWhiteHeading: hsla(0, 0%, 100%, 0.6);

//font weight

$fw-md: 400;
$fw-lg: 700;
